#giraffedraft {

}

.giraffedraft-open {
  display: '';
}

.giraffedraft-closed {
  display: none;
}

#giraffedraft-toggle {
  /*background-color: #3261c3;*/
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  line-height: normal;
  font-size: 20px;
  top: 50px;
  position: fixed;
  z-index: 10000000000;
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
  margin: 0px;
  padding: .8125rem 1.5rem .75rem;
  font-weight: 700!important;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
  border: none;
  color:#fff;

      box-shadow: -3px 3px 5px rgba(0, 0, 0, 1.5);

}

.giraffedraft-toggle-open {
  right: 300px;
    background-color: #3b2eca !important;
}


.giraffedraft-toggle-closed {
  right: 0px;
    background-color: #3261c3;

}
.giraffedraft-toggle-closed:hover {
    background-color: #3b2eca !important;

}

#3261c3
 #3b2eca!important