#giraffedraft {

}

.giraffedraft-open {
  display: '';
}

.giraffedraft-closed {
  display: none;
}

#giraffedraft-toggle {
  background-color: #3261c3;
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  line-height: normal;
  font-size: 20px;
  top: 50px;
  position: fixed;
  z-index: 10000000000;
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
  margin: 0px;
  padding: .8125rem 1.5rem .75rem;
  font-weight: 700!important;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
  border: none;
  color:#fff;
  border-top-left-radius: 5.5px;
  border-top-right-radius: 5.5px;
  box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.8);

}

#giraffedraft-toggle:focus {
  outline:0 !important;
}

.giraffedraft-toggle-open {
  right: 271px;
}

.giraffedraft-toggle-closed {
  right: 0px;
}

#giraffedraft-toggle:hover {
    background-color: #3b2eca !important;
    color: white !important;
}
