body {
  height:100%;
  width:275px;
  background-color: #222;
}

.togglers {
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-size: 20px;
}

.togglerTable{
  width: 100%;
  color: purple;
}

.c3-axis-x{
  color:green;
}
.gd-chart {
  position: absolute;
  bottom: 0px;
}

.gd-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.gd-tables {
  background-color: white;
  margin-top: 0px;
  height: 150px;
  width: 245px;
  overflow: scroll;
  border-right: solid;
  border-left: solid;
  border-bottom: solid;
  border-width: 3px;
  border-color: #3b2eca;
}

.gd-tabs {
  background-color: #3b2eca;
  height: 28px;
  width: 251px;
  -webkit-padding-start: 0px;
  margin-bottom: 0px;
  border-top-left-radius: 1px;
}

.gd-tab-text {
  position: relative;
  top: 8.5px;
  color: white;
}

.gd-tab {
  font-family: sans-serif;
  text-align: center;
  vertical-align: bottom;
  font-size: 12px;
  display: block;
  float: left;
  background-color: #3b2eca;
  padding: 0px;
  padding-bottom: 0px;
  margin: 0px;
  height: 28px;
  width: 81px;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  position: relative;
  bottom: -3px;
  border-left: solid;
  border-color: black;
  border-width: 1px;
}

.gd-tab:hover {
  background-color: #3261c3;
}

.gd-tab.clicked {
  background-color: white;
}

.gd-tab.clicked span {
  color: black;
}

.gd-tab.right {
  border-top-right-radius: 1em;
}

.gd-tab.left {
  margin-left: 2px;
  border-top-left-radius: 1em;
}

tr:hover {
  background-color: #3261c3;
  color: white;
}
