#giraffedraft-toggle {
  font-size: 20px;
  top: 50px;
  position: fixed;
  z-index: 10000000000;
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
  margin: 0px;
}

.giraffedraft-toggle-open {
  right: 300px;
}

.giraffedraft-toggle-closed {
  right: 0px;
}
