<html ng-app="gDPopup">
<head>
  <link rel="stylesheet" type="text/css" href="bower_components/angular-c3/dist/c3-chart.css">
    <LINK href="styles.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller='gDController'>
  <h1>Giraffe Draft</h1>
  <div style='height:15%;width:200px;overflow:scroll;' ng-mouseleave="removePlayerStats()">
    <ol>
      <li class='undrafted' ng-repeat='player in undrafted' ng-click="markDrafted()" ng-mouseenter="addPlayerStats()">
        {{player.NAME}}
      </li>
    </ol>
  </div>
  <br>
  <br/>
  <!-- <div style='width:275px'>
    Suggestions
    <ol>
      <li class='suggested' ng-repeat='suggested in suggestions'>
        {{suggested.Player}}
      </li>
    </ol>
  </div> -->
  <c3-chart id="chart" config="config"></c3-chart>
  <script src="angular.js"></script>
  <script src="bower_components/angular-c3/dist/c3-chart.js" charset='utf-8'></script>
  <script src="services/services.js"></script>
  <script src="slider.js"></script>
</body>
</html>
