<html ng-app="gDPopup">
<head>
  <link rel="stylesheet" type="text/css" href="bower_components/angular-c3/dist/c3-chart.css">
    <LINK href="styles.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller='gDController'>

  <div style='width:275' ng-init="tab = 1">
    <span ng-class="{active:tab===1}"> 
      <a href ng-click="tab = 1">Suggestions</a>  
    </span>
    <span ng-class="{active:tab===2}"> 
      <a href ng-click="tab = 2">Queue</a> 
    </span>
    <span ng-class="{active:tab===3}"> 
      <a href ng-click="tab = 3">Teams</a> 
    </span>
  </div>   
  <div style='height:15%;width:275px;overflow:scroll;font-size:1em' ng-mouseleave="removeStats()">
    <table ng-show="tab === 1" style ='border: 1px solid black;border-collapse: collapse;'>
      <tr class='undrafted' ng-repeat='player in undrafted' ng-mouseenter="addPlayerStats()">
        <td style ='border: 1px solid black;border-collapse: collapse;'>{{player.Player}}</td>
      </tr>
    </table>
    <table ng-show="tab === 2" style ='border: 1px solid black;border-collapse: collapse;'>
      <tr class='undrafted' ng-repeat='(team,stats) in state' ng-mouseenter="addOpponentStats()">
        <td style ='border: 1px solid black;border-collapse: collapseß;'>{{team}}</td>
      </tr>
    </table>
    <table ng-show="tab === 3" style ='border: 1px solid black;border-collapse: collapse;'>
      <tr class='undrafted' ng-repeat='(team,stats) in state' ng-mouseenter="addOpponentStats()">
        <td style ='border: 1px solid black;border-collapse: collapseß;'>{{team}}</td>
      </tr>
    </table>
  </div>

  <!-- <div style='width:275px'>
    Suggestions
    <ol>
      <li class='suggested' ng-repeat='suggested in suggestions'>
        {{suggested.Player}}
      </li>
    </ol>
  </div> -->
  <c3-chart id="chart" config="config"></c3-chart>
  <br>
  <ol>
    <li ng-repeat="(name, age) in state">{{name}}: {{age}}</li>
  </ol>

  <script src="lib/angular.js"></script>
  <script src="bower_components/angular-c3/dist/c3-chart.js" charset='utf-8'></script>
  <script src="services/services.js"></script>
  <script src="slider.js"></script>
</body>
</html>
